<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>中邦我道</title>
	<link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/jquery.fullPage.css" />
	<script src="js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.fullPage.js"></script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				'verticalCentered': false,
				'css3': true,
				'sectionsColor': ['#F0F2F4', '#fff', '#fff', '#fff'],
				'navigation': true,
				'navigationPosition': 'right',
				'onLeave': function(index, nextIndex, direction){
					if (index == 3 && direction == 'down'){
						$('.section').eq(index -1).removeClass('moveDown').addClass('moveUp');
						
					}
					else if(index == 3 && direction == 'up'){
						$('.section').eq(index -1).removeClass('moveUp').addClass('moveDown');
					}

					$('#staticImg').toggleClass('active', (index == 2 && direction == 'down' ) || (index == 4 && direction == 'up'));
					$('#staticImg').toggleClass('moveDown', nextIndex == 4);
					$('#staticImg').toggleClass('moveUp', index == 4 && direction == 'up');
				},
				'onLeave':function(index, nextIndex, direction){
				  if(index==1){
				    $('.login').show();
				    }
                 }	
				
			});
		});
		
		
	  $(function(){  
		$('.active img').fadeIn(1500); 	
	  })
	  

	</script>

</head>
<body>
<div class="header">
     <div class="nav clearfix">
	   <div  class="logo"><img src="img/logo.png"></div>
	   <div class="nav_ul">
		<ul class="clearfix" id="menu">
		  <li>引客上门</li>
		  <li>留住顾客</li>
		  <li>促进交易</li>
		</ul>
	   </div>
	   <div class="login">
          <a href="http://job.jobwisdom.cn/jobwisdom/" class="login_" target="_blank">登录</a>	   
 	      <a href="http://job.jobwisdom.cn/jobwisdom/"  class="register" target="_blank">注册</a>	
	   </div>
	 </div>
</div>
<!-- <div class="down"><img src="img/down.png"></div> -->

<div id="fullpage">
   
    
    <div class="section moveDown" id="section0" >
	  <!--  <div class="am-bg" >
                <video autoplay="autoplay" height="1080" width="1920" style="width:100%;height:100%" >
                    <source src="section.mp4" type="video/mp4">
                </video>
                <div class="video-mask"></div>
                <div id="J_poster" class="poster" style="background-image:url(https://t.alipayobjects.com/images/T1k5ReXXlkXXXXXXXX.jpg)"></div>
         </div> -->
		<div class="section0_login">
		<div class="section0_"></div>
		  <p><img src="img/setion0_text.png"></p>
		  <div class="login_1">
		    <a href="http://job.jobwisdom.cn/jobwisdom/" class="login_2" target="_blank">登录</a>
		     <a href="http://job.jobwisdom.cn/jobwisdom/"  class="register_" target="_blank">立即注册</a>
		  </div>
		</div>
	</div>
	
    <div class="section moveDown" id="section1" >
	<div class="section1_"></div>
	   <p><img src="img/text.png"></p>
		<div class="section_text">
		   <ul class="clearfix">
		     <li><p>无纸开单</p><span>员工移动端直接开单, 杜绝录单出错</span></li>
		     <li><p>云平台 多终端</p><span>基于云端架构，全平台覆盖，电脑、手机、IPAD，轻松应对，随时访问</span></li>
			 <li><p>电子轮牌</p><span>有效了解员工服务状态，对工作时间进行高效管理，掌控全局</span></li>
		   
		   </ul>
		</div>
	</div>

	<div class="section moveDown" id="section2">	
	<div class="section2_"></div>
	  <p><img src="img/section2_text.png"></p>
		<img class="section1_1" src="img/bg_2_1.png">
		<img class="section1_2" src="img/bg_2_2.png">
		<div class="section_text_">
		   <ul class="clearfix">
		     <li><p>自助结账，优惠买单</p><span>省时省力省人，更多更快更精准，拉新留老创业绩</span></li>
		     <li><p>会员智能营销</p><span>微信营销、积分营销、优惠劵营销、互动营销</span></li>
			
		   
		   </ul>
		</div>
	</div>
	<div class="section moveDown" id="section3">
	<div class="section3_"></div>
	   <p><img src="img/section3_text.png"></p>
		<div class="section_text_" >
		   <ul class="clearfix">
		     <li><p>大数据分析</p><span>数据表格化、图纸化、分析最有价值客户</span></li>
		     <li><p>云端架构、安全稳定</p><span>基于云端架构，为您的业务保驾护航</span></li>
			
		   
		   </ul>
		</div>
	</div>
	<div class="section moveDown" id="section4">
		<div class="section4_"></div>
		<p><img src="img/section4_text.png"></p>
		<div class="section_text_" >
		   <ul class="clearfix">
		     <li><p>微预约</p><span>好生意，约出来。错峰消费，告别排队，实时预约互动确认</span></li>
		     <li><p>无缝对接微信</p><span>微信7亿活跃用户，你的门店怎能不支持微信?微门店、微商城、微信小票、会员微信自助服务、微信互动</span></li>
			
		   
		   </ul>
		</div>
	</div>
	<div class="section moveDown" id="section5">
	<div class="section5_"></div>
	  <div class="connect_content">	
		<div class="connect clearfix">
		  <div class="connect_address">
		    <div class="connect_us">联系我们</div>
			<p>电话：0755-23617921</p>
			<p>邮箱：ray@jobwisdom.cn</p>
			<p>地址：广东省深圳市福田区泰然科技园202栋西座302C</p>
		  </div>
		  <div class="connect_webchat">
		    <p>扫描关注公众号</p>
			<div class="webchat_img">
			  <img src="img/webchat_img.png">
		   </div>
		  </div>
		</div>
		
		<div class="friendship">
		   <p>战略合作伙伴</p>
		   <ul class="clearfix">
		     <li><img src="img/dafu.png"></li>
		     <li><a href="https://www.baidu.com/" target="_blank"><img src="img/baidu.png"></a></li>
			 <li><a href="https://mp.weixin.qq.com/" target="_blank"><img src="img/webchat.png"></li>
			 <li><a href="https://www.aliyun.com" target="_blank"><img src="img/aliyun.png"></li>
			 <li><a href="https://www.alipay.com/" target="_blank"><img src="img/alipay.png"></li>
		   </ul>
		</div>
	  </div>	
	</div>
</div>

</body>
</html> 