<!doctype html>
 <html style="background:url('images/login_back.jpg') no-repeat;background-size:100% 100%;height:100%">
   <head>
   	  <meta charset="utf-8">
   	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <title>商城</title>
     <link rel="stylesheet" type="text/css" href="style/style.css">
     <link rel="stylesheet" type="text/css" href="style/shop.css">
    <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>
   </head>
   <script>
     jQuery(function(){
	   jQuery('.forget a').click(function(){
	      jQuery('.first').fadeOut('normal',function(){
		    jQuery('.second').fadeIn()	   
		  }) 
	   });
	 })
	 
	 jQuery(function(){
	   jQuery('input[type="button"]').click(function(){
	     
	     var time=30; 
		 jQuery('input[type="button"]').val('30');
		  var a=setInterval(function(){
		    if(time>1){
			
			 jQuery('input[type="button"]').val(time-1);
			 time--;
			  jQuery('input[type="button"]').attr('disabled','true')
			 
			}
			else{
			   jQuery('input[type="button"]').val('重新发送');
			   jQuery('input[type="button"]').attr('disabled',false);
				clearInterval(a)		
			} 
		  },1000)
		 
	   })
	 })
	
   </script>
   <body style="background:none;height:100%">
	 <div class="con">
       <div class="login">
	     <div class="login_content " >
		    <p><img src="images/one.jpg"></p>
			<div class="login_shop_name">啊啊啊啊啊啊啊啊店</div>
			<div class="login_imformation first">
			   <div class="business_no"> 
			     <span><img src="images/company.png"><input type="text" placeholder="手机号"></span>
			   </div>
			    <div class="business_no"> 
			     <span><img src="images/employee_no.png"><input type="text" placeholder="员工工号"></span>
			   </div>
			    <div class="business_no"> 
			     <span><img src="images/password.png"><input type="text" placeholder="密码"></span>
			   </div>
			   
			   <button>登录</button>
			  <p class="forget"> <a href="javascript:;">忘记密码？</a></p>
			</div>
			
			<div class="login_imformation second" style="position:relative;top:1rem;display:none">
			   <div class="business_no"> 
			     <span><img src="images/phone.png"><input type="text" placeholder="输入手机号"></span>
			   </div>
			    <div class="business_no" style="margin:1rem 0"> 
			     <span><input type="text" placeholder="输入六位数验证码" style="width:50%"><input type="button" value="领取验证码" style="width:30%;margin-left:7%;background:#4b596a;text-align:center;padding:0;color:white"></span>
			   </div> 
			   <button>绑定</button>
			 
			</div>
		 </div>	
		 
		   
	   </div>
     </div>
   </body>
 </html>
