<!doctype html>
 <html>
   <head>
   	  <meta charset="utf-8">
   	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <title>会员中心</title>
     <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" type="text/css" href="style/shop.css">
   
   <style>
   .bottom_fix p{line-height:1.8rem}
   
   </style>
   </head>
   <body>
     <div class="con"> 
	   
    <div class="person_">
	  <div class="head_pic">
	     <img src="images/head_pic.png">
	   </div>
	   <div class="person_name">
	       <H1>爱德华的名字<img src="images/sex.png"></H1>
	       <p>美发职位</p>
		   
		   <span>签到</span>
	   </div>
	 </div>
	  
	 <ul class="person_ul">
	   <li><img src="images/personalOne.png">我的预约</li>
	   <li><img src="images/personalTwo.png">我的业绩</li>
	   <li><img src="images/personalThree.png">我的提成</li>
	   <li><img src="images/personalFour.png">我的表现</li>
	   <li><img src="images/personalFive.png">我的轮牌</li>
	   <li><img src="images/personalSix.png">我的排班</li>
	   <li><img src="images/personalSeven.png">个人设置</li>
     </ul>
   </div>

  
   <ul class="bottom_fix clearfix">
      <li><img src="images/bottomOne.png">
	      <p>接待</p>
	    </li>
	  <li><img src="images/bottomTwo.png">
	     <p>订单</p>
	  </li>
	  <li><img src="images/bottomThree.png">
	    <p>排行</p>
	  </li>
	  <li><img src="images/bottomFour.png">
	     <p>我的</p>
	  </li>
 </ul>   
   </body>
 </html>
