<!doctype html>
 <html>
   <head>
   	  <meta charset="utf-8">
   	  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <title>商城首页</title>
     <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" type="text/css" href="style/shop.css">
    <script type="text/javascript" src="js/zepto.min.js"></script>
    <script type="text/javascript" src="js/zepto.touchSlider.js"></script>

   </head>
   <body>
   	<div class="con clearfix" style="background:#e5e5e5">
       <header  class="clearfix header_">
       	  <div class="down_content" style="background:none;">
       	     <img src="images/back_1.png" style="height:2.5rem;width:auto">
       	  </div>
       	  <div class="search">
             <span class="search_img"><img src="images/search.png"></span> <input type="search" name="search" placeholder="搜索">
       	  </div>

       	  <div class="more_shop">
             <p>更多店铺</p>
            <ul>
               <li>广州分店<span>惠州旗舰店</span></li>

            </ul>

       	  </div>
       </header>

       <ul class="shop_list_ul">
	      <li class="active">啊啊啊啊</li>
		   <li>啊啊啊啊</li>
		    <li>啊啊啊啊</li>
			 <li>啊啊啊啊</li>
			  <li>啊啊啊啊</li>
	   
	   </ul>
	   
	   <div class="right_content">
	      <div class="content_detial clearfix">
		     <div class="detail_left">
			   <img src="images/mall_shop.png">
			 </div>
			 
			 <div class="detail_text">
			    <h2>撒大声对我的</h2>
			     <p class="text_content">啥大事发货发放发发沙发沙发沙发大幅</p>
				 <div class="list_money">
				   <span>¥288.00</span><em>已售122份</em>
				 </div>
			 </div>
		  
		  </div>
		  
		   <div class="content_detial clearfix">
		     <div class="detail_left">
			   <img src="images/mall_shop.png">
			 </div>
			 
			 <div class="detail_text">
			    <h2>撒大声对我的</h2>
			     <p class="text_content">啥大事发货发放发发沙发沙发沙发大幅</p>
				 <div class="list_money">
				   <span>¥288.00</span><em>已售122份</em>
				 </div>
			 </div>
		  
		  </div>
		  
		  <div class="content_detial clearfix">
		     <div class="detail_left">
			   <img src="images/mall_shop.png">
			 </div>
			 
			 <div class="detail_text">
			    <h2>撒大声对我的</h2>
			     <p class="text_content">啥大事发货发放发发沙发沙发沙发大幅</p>
				 <div class="list_money">
				   <span>¥288.00</span><em>已售122份</em>
				 </div>
			 </div>
		  
		  </div>
		  
		  <div class="content_detial clearfix">
		     <div class="detail_left">
			   <img src="images/mall_shop.png">
			 </div>
			 
			 <div class="detail_text">
			    <h2>撒大声对我的</h2>
			     <p class="text_content">啥大事发货发放发发沙发沙发沙发大幅</p>
				 <div class="list_money">
				   <span>¥288.00</span><em>已售122份</em>
				 </div>
			 </div>
		  
		  </div>
		  
		  <div class="content_detial clearfix">
		     <div class="detail_left">
			   <img src="images/mall_shop.png">
			 </div>
			 
			 <div class="detail_text">
			    <h2>撒大声对我的</h2>
			     <p class="text_content">啥大事发货发放发发沙发沙发沙发大幅</p>
				 <div class="list_money">
				   <span>¥288.00</span><em>已售122份</em>
				 </div>
			 </div>
		  
		  </div>
		  
		  <div class="content_detial clearfix">
		     <div class="detail_left">
			   <img src="images/mall_shop.png">
			 </div>
			 
			 <div class="detail_text">
			    <h2>撒大声对我的</h2>
			     <p class="text_content">啥大事发货发放发发沙发沙发沙发大幅</p>
				 <div class="list_money">
				   <span>¥288.00</span><em>已售122份</em>
				 </div>
			 </div>
		  
		  </div>
	   
	   </div>



     </div>
   </body>
 </html>
