<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lives.platform.web.mapper.ProjectComboTreatmentMapper" >
  <resultMap id="BaseResultMap" type="com.lives.platform.web.entity.ProjectComboTreatment" >
    <id column="treatment_course_detail_id" property="treatmentCourseDetailId" jdbcType="INTEGER" />
    <result column="treatment_course_id" property="treatmentCourseId" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="stores_id" property="storesId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="CHAR" />
    <result column="original_cost" property="originalCost" jdbcType="DECIMAL" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    treatment_course_detail_id, treatment_course_id, project_id, num, stores_id, create_time, original_cost, cost
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from pt_project_combo_treatment
    where treatment_course_detail_id = #{treatmentCourseDetailId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from pt_project_combo_treatment
    where treatment_course_detail_id = #{treatmentCourseDetailId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lives.platform.web.entity.ProjectComboTreatment" >
    insert into pt_project_combo_treatment (treatment_course_detail_id, treatment_course_id, 
      project_id, num, stores_id, 
      create_time, original_cost, cost)
    values (#{treatmentCourseDetailId,jdbcType=INTEGER}, #{treatmentCourseId,jdbcType=INTEGER}, 
      #{projectId,jdbcType=INTEGER}, #{num,jdbcType=INTEGER}, #{storesId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=CHAR},#{originalCost,jdbcType=DECIMAL} ,#{cost,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.lives.platform.web.entity.ProjectComboTreatment" >
    insert into pt_project_combo_treatment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="treatmentCourseDetailId != null" >
        treatment_course_detail_id,
      </if>
      <if test="treatmentCourseId != null" >
        treatment_course_id,
      </if>
      <if test="projectId != null" >
        project_id,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="storesId != null" >
        stores_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="originalCost != null" >
        original_cost,
      </if>
      <if test="cost != null" >
        cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="treatmentCourseDetailId != null" >
        #{treatmentCourseDetailId,jdbcType=INTEGER},
      </if>
      <if test="treatmentCourseId != null" >
        #{treatmentCourseId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        #{num,jdbcType=INTEGER},
      </if>
      <if test="storesId != null" >
        #{storesId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="originalCost != null" >
        #{original_cost,jdbcType=DECIMAL},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lives.platform.web.entity.ProjectComboTreatment" >
    update pt_project_combo_treatment
    <set >
      <if test="treatmentCourseId != null" >
        treatment_course_id = #{treatmentCourseId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="num != null" >
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="storesId != null" >
        stores_id = #{storesId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=CHAR},
      </if>
       <if test="createTime != null" >
        create_time = #{createTime,jdbcType=CHAR},
      </if>
      <if test="originalCost != null" >
        #{original_cost,jdbcType=DECIMAL},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
    </set>
    where treatment_course_detail_id = #{treatmentCourseDetailId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lives.platform.web.entity.ProjectComboTreatment" >
    update pt_project_combo_treatment
    set treatment_course_id = #{treatmentCourseId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      num = #{num,jdbcType=INTEGER},
      stores_id = #{storesId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=CHAR},
      original_cost = #{originalCost,jdbcType=DECIMAL},
      cost = #{cost,jdbcType=DECIMAL}
    where treatment_course_detail_id = #{treatmentCourseDetailId,jdbcType=INTEGER}
  </update>
</mapper>