.piluku-preloader {
  /* background-color: lighten(@primary-color,10%); */
  /* padding-top: 20%; */
  background-color: #2196f3;
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999999999999;
}
.hidden {
  display: none!important;
  visibility: hidden!important;
}
.text-center {
  text-align: center;
}
.loader {
  font-size: 10px;
  margin: 5em auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #FFF;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.loader:after {
  background: #2196f3;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

     .loading, .spinner {
       position: absolute;
       width: 80px;
       opacity: 0;
       -webkit-transform: translateX(-50%) translateY(-50%);
       -ms-transform: translateX(-50%) translateY(-50%);
       transform: translateX(-50%) translateY(-50%);
       -webkit-transition: opacity 0.4s;
       transition: opacity 0.4s;
       z-index: 999;
     }
.loading:after {

  -webkit-animation-delay: -0.25s;
}
.loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  opacity: 0.9;
  border: 3px solid green;
  -webkit-animation: processing 1s infinite ease-in-out;
}
.loading:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  opacity: 0.9;
  border: 3px solid green;
  -webkit-animation: processing 1s infinite ease-in-out;
  -webkit-animation-delay: -0.25s;
}
.loading {
  top: 40%;
  left: 50%;
}
.loading {
  top: 50%;
  left: 50%;
  position: fixed;
  opacity: 1 !important;
  padding-top: 100px;
  text-transform: uppercase;
}
.loaded .loading {
  display: none;
  border: 20px solid red;
}

@-webkit-keyframes processing {
  25% {
    transform:translateX(42px)  rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateY(42px)rotate(-270deg) scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
  }
}
